<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.IUserMapper">

<select id="getLoginInfo" parameterType="UserDto" resultType="UserDto">
SELECT USER_ID, PASSWORD, NAME, USER_NO, EMAIL FROM USERTABLE WHERE USER_ID=#{user_id} AND PASSWORD=#{password}
</select>

<select id="UserList" parameterType="UserDto" resultType="UserDto">
SELECT USER_ID, NAME FROM USERTABLE WHERE USER_IN = 'true'
</select>

<insert id="newUser" parameterType="UserDto" >
INSERT INTO USERTABLE ( 
USER_NO,
USER_ID, 
NAME, 
PASSWORD,
EMAIL
) VALUES ( 
USER_SEQ.NEXTVAL,
#{user_id},	
#{name},
#{password},
#{email}
)
</insert>
<update id="getUserOut" parameterType="UserDto" >
	UPDATE USERTABLE SET USER_IN = "'true'" WHERE USER_NO = #{user_no}
</update>
<update id="getUserIn" parameterType="UserDto" >
	UPDATE USERTABLE SET USER_IN = "'false'" WHERE USER_NO = #{user_no}
</update>
<select id="getUserExists" parameterType="UserDto" resultType="UserDto">
	<!-- 이문구는  -->
	SELECT DECODE(COUNT(1), 0, 'N','Y') AS EXISTS_YN
		FROM USERTABLE
	WHERE EMAIL = #{email}
</select>

</mapper>